@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

:root{
  --background_colour: #000d1a;
  --neon_green: #00cc00;
  --purle: #9966ff;
  --order: 0;
 }

/* base styles */
* {
  margin: 0;
  font-family: "Fira Code";
  color: var(--neon_green);
  height: 200px;
  caret-color: transparent;
}

body {
  background-color: white;
}

::-webkit-scrollbar{
  display: none;
}

.header-parent{

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background_colour);
  text-align: center;
}

/* styles for Header.js and Navbar.js */
.header{

  font-size: 25px;
  margin: 10%;
  height: auto;
}

.header h1 {
  display: inline;
  color: var(--neon_green);

}

.header h1::after {
  content: "";
  width: 3px;
  height: 50px;
  background: var(--neon_green);

}

.header h2 {
  font-size: 75%;
}

.header h1::after {
  content: "";
  width: 3px;
  height: 45px;
  background: var(--neon_green);
  display: inline-block;

  /* Blinking text cursor animation */
  animation: blinker 1s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

/* Navbar.css */
.navbar {

  padding: 10px 0; /* Padding for the navbar */
}

.nav-list {

  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 300px;
  animation: dropIn 1s ease forwards;
  animation-delay: calc(var(--order) * 100ms);
}

.nav-item {
  margin: 0 10px;
  filter: drop-shadow(3px 5px 1px rgb(0 0 0 / 1));
}

.nav-link {
  text-decoration: none;
  color: var(--neon_green); /* Menu item text color */
  font-size: 50px;
  transition: font-size 0.3s ease; /* Smooth transition for the font-size property */
}

@keyframes dropIn {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0);
  }

}

/* Pop-out text-size effect */
.nav-link:hover {
  font-size: 100px; /* Adjust the desired font size when hovered */
}
