@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

:root{
  --neon_green: #00cc00;
 }

/* base styles */
* {
  margin: 0;
  font-family: "Fira Code";
  color: var(--neon_green);
  height: 200px;
  caret-color: transparent;
}

body {
  background-color: #000d1a;
}

/* styles for Header.js and SocialLinks.js */

.header {
  margin: 10%;
  font-size: 100px;
  width: 725px;
  height: auto;
}

.header h1 {
  color: #00cc00;
}

.header h1::after {
  content: "";
  width: 3px;
  height: 100px;
  background: #00cc00;
  display: inline-block;

  /* Blinking text cursor animation */
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

.header h2 {
  font-size: 25%;
  width: 50%;
  height: auto;
  position: absolute;
  right: 500px;
}

.header *:hover{
  color: #9966ff;
}

/* Social links icons */

.icons {
  position: sticky;
  opacity: 0.5;
  height: auto;
  float: right;
  width: 300px;
  margin-right: 10%;
  animation: dropIn 1s ease forwards;
  animation-delay: calc(var(--order) * 100ms)
}

.icons a{
  margin-right: 10%;
}

@keyframes dropIn {
  from {transform: translateY(-500px);}
  to{transform: translateY(0);}  
}

.icons *:hover{
  color: #9966ff;
}

/* styles for Header.js and SocialLinks.js */

.about-me {
  margin: 5%;
  height: 30%;
}

.about-me *:hover{
  color: #9966ff;
}

.about-me div {
  padding: 1rem;
}

.about-me h1 {
  height: 50px;
  font-size: 50px;
  height: 100%;
  width: 240px;
}

.about-me h2 {
  height: 50%;
  width: 570px;
}

.about-me p {
  width: 400px;
}

/* outline: 3px solid red */