/* base styles */
* {
  margin: 0;
  font-family: "Courier New", monospace;
  color: #00cc00;
  height: 200px;
}

body {
  background-color: #000d1a;
}

.navbar {
  font-size: 35px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navbar h1 {
  color: #00cc00;
}

.navbar .links {
  font-weight: 900;
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #9966ff;
}

.content{
  max-width: 600px;
  margin: 40px auto;
}
/*blinking text cursor */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box h2 {
  display: flex;
  align-items: center;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.box h2::after {
  content: "";
  width: 3px;
  height: 45px;
  background: #00cc00;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}