/* About me styling */

.about-me {
    padding-top: 50%;
    margin: 5%;
    height: auto;
  }
  
  .about-me *:hover{
    color: var(--purle);
  }
  

  .about-me h1 {
    height: 50px;
    font-size: 50px;
    height: 100%;
    width: 240px;
  }
  
  .about-me h2 {
    height: 50%;
    width: 570px;
  }
  
  .about-me div {
    padding: 1rem;
  }
  

  .about-me p {
    width: 400px;
  }